VITE_FIREBASE_API_KEY=123
VITE_FIREBASE_AUTH_DOMAIN=abc.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=abc
VITE_FIREBASE_STORAGE_BUCKET=abc.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=123
VITE_FIREBASE_APP_ID=1:123:web:123