@import "tailwindcss";

@theme {
  --font-sans: Outfit, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --breakpoint-3xl: 120rem;

  --color-primary: #041A53;
  --color-primary-dark: #02123A;
  --color-primary-light: #364775;

  --color-secondary: #751A61;
  --color-secondary-dark: #511243;
  --color-secondary-light: #904780;

  --color-error: #CE0909;
  --color-error-dark: #900606;
  --color-error-light: #D73A3A;

  --color-warning: #F79009;
  --color-warning-dark: #AC6406;
  --color-warning-light: #F8A63A;

  --color-info: #005EA2;
  --color-info-dark: #004171;
  --color-info-light: #337EB4;

  --color-success: #2E7D32;
  --color-success-dark: #1B5E20;
  --color-success-light: #4CAF50;
}
